
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
@media screen and (max-width:576px) {
    
   .permanent, #nav,#rbox,#btn1,.school,.circle,.child-smile1{
        display: none;
    }
    #optional{
        display: flex;
    }
    
    #box-1{
        display: none;
    }
    .tble{
        display:grid;
        gap:10px;
    }
    .line{
        background-color: rgba(255, 140, 0, 0.525);
        border-radius: 6px;
        width: 4rem;
        height: .4rem;
       
    }
    #hero,.card-container{
        flex-direction: column-reverse;
    }
    #last-section{
        height: 642px;
        
    }
    #last-sect{
        flex-direction: column;
        margin-top: -4rem;
    }
    #sect1,#sect2{
        text-align: center;
        
    }
    #children{
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }
    .third-part{
        margin-left: 1rem;
       
    }
    .color-cont{
        align-items: center;
        text-align: center;
        
       }
       .kids{
        height: 100%;
        width: 100%;
       }
       
   #tt{
    display:grid;
    border: 1px solid;
    background-color: aqua;
    text-align: center;
    margin: 0 auto;
    align-items: center;
   }
   

      
}
.pp{
    display: none;
}
.first{
    align-items: center;
    justify-items: center;
    max-width: 1440px;
   
    margin: 0 auto;
    background-color: #FFFFFF;
}
.first-regn{
    width: 1160px;
    height: 62px;
    
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    justify-content: space-between;
   
   
}
.lognam{
    border: 1px solid;
    padding: 0 auto;
}

.align{
    align-items: center;
}
.bold{
    font-weight: bold;
}
.color-y{
    color: #FEA301;
}
.color-v{
    color: rgb(144, 26, 144);
}
.color-b{
    color: rgb(16, 98, 251);
}
.color-g{
    color: #00ff51;
}
.nav-item{
    font-size: 1.5rem;
}
.school{
    font-weight: bold;
    font-size: 2rem;
}
.grid-d{
    display: grid;
    grid-template-rows: auto;
}
.display-flex{
    display: flex;
   
}
.head{
    
    align-items: center;
     max-width:1440px;
   max-height: 4rem;
   border: 1px solid;
    gap: 60px;
    justify-content: space-between;
   /* background-image: linear-gradient(to bottom,green,white); */
    
}
.list{
    list-style: none;
    justify-content: space-between;
    gap: 20px;
}
.btn{
    padding: .6rem 3.9rem;
    background-color: #fda712;
    border-radius: .8rem;
   
}
/* first page design */
.first-page{
    justify-content: space-between 3rem;
    align-items: center;
    justify-items: center;
    max-width: 1160px;
    gap: 50px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.bold-font{
    font-weight: bold;
    font-size: 3.5rem;
}
.btn-black{
    background-color: black;
    padding: .6rem 2.9rem;
    color: white;
    font-size: 600;
    border-radius: .8rem;
}
/* card design */
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 1.9rem;
}
.card{
   
    weight:23rem;
    height: 30rem;
    margin: 0 auto;
    justify-content: center;
    border-radius: 19px;
    border: 1px solid;
}
.back1{
    background-image: linear-gradient(to bottom,#A1E1FD,white);
}
.back2{
    background-image: linear-gradient(to bottom,#FFE09C,white);
}
.back3{
    background-image: linear-gradient(to bottom,#CFAAFF,white);
}
.card-items{
 align-items: center;
 text-align: center;
 padding-top: 80px;
}
.second-tit{
    font-weight: bold;
    font-size: 3rem;
}
.padd{
    margin:60px auto;
    text-align: center;
}
.circle{
    background-color: #FEA301;
    width: 60px;
    height: 60px;
    font-size: 46px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    margin:4rem auto;
}

.child-card{
    flex-direction: column;
  border: 1px solid;
    border-radius: 1.5rem;
    padding: 0 0;
}
.card-body{
   
    width: 100%;
}
#children1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    justify-content: space-between;
    gap: 1.1rem;
   
   
}
#children{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    justify-content: space-between;
    gap: 1.1rem;
   
   
}
.child-smile{
   
    border-radius: 1.5rem 1.5rem 0 0;
    height: 100%;
    width: 100%;
}
.chld-c{
    grid-row:span 2;
    grid-column: span 2;
}
.child-btn1{
    width: 174px;
    height: 36px;
    border-radius: 49px;
    color: white;
    margin: -18px;
    margin-bottom: 0%;
    border: none;
    background-color: rgb(32, 247, 43);
   
}
.child-btn4{
    width: 174px;
    height: 36px;
    border-radius: 49px;
    color: white;
    margin: -18px;
    border: none;
    margin-bottom: 0%;
    background-color: rgb(108, 22, 246);
}
.child-btn3{
    width: 174px;
    height: 36px;
    border-radius: 49px;
    color: white;
    margin: -18px;
    border: none;
    margin-bottom: 0%;
    background-color: rgb(239, 254, 22);
}
.child-btn2{
    width: 174px;
    height: 36px;
    border-radius: 49px;
    color: white;
    margin: -18px;
    border: none;
    margin-bottom: 0%;
    background-color: rgb(24, 122, 250);
}
.child-btn{
    width: 190px;
    height: 46px;
    border-radius: 49px;
    color: white;
    margin: -26px;
    background-color: aqua;
    border: none;
    margin-bottom: 0%;
}


.bg{
    background-image: url('assets/bg.png');
}
.h3font{
    font-size: 1.5rem;
}
#btn00{
    margin-left: 40px;
}
.para{
    width: 25rem;
}
.last{
    width: 1160px;
    height: 222px;
    
   
    justify-content: center;
    margin: 0 auto;
    justify-content: space-between;
   
    margin-top: 123px;
    margin-bottom: 174px;
}
/* .stkr-title{
    height: 5rem;
} */
.stkr-title{
    align-items: center;
    align-content: center;
    height: 6.5rem;
    weight:9rem;
    /* margin-bottom: 20px; */
   
    
}
.para{
    margin-top: 20px;
}
.last-title{
    align-content: center;
    font-weight: bold;
   font-size: 33px;
    margin-top: 26px;
    
}
.logo1{
 height: 5.5rem;
    width: 5.5rem;
}
.lt{
   color: white;
  
}
.about{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
.footer-first{
    margin-top: 0;
    gap: 26px;
    margin-left: 1.5rem;
}
.lsec{
    background-color: #3eb05c;
}
.pizz{
    color: white;
}
.c{
    color: white;
}
.footer-first{
    padding-right: 2.5rem;
}
.hide{
    display: none;
}